body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  border-radius:15px;
  padding-left:0.75rem;
  padding-right:0.75rem;
  /* border: 1px solid rgb(233, 233, 233); */
}

.button-container {
  margin-bottom:10px;
}

.btn-flat {
  margin-bottom:3px;
  text-overflow:ellipsis;
}

.diagram-container {
  justify-content:left;
  margin:auto;
  overflow-x:auto;
  white-space:nowrap;
  width:90%;
}