/*
    Example fishbone styling... note that you can't actually change
    line markers here, which is annoying
*/

svg {top:0; left:0; height:100%; width:100% }

/* get it? gill? */
*{ font-family: "Gill Sans", "Gill Sans MT"; }


.label-0{ font-size: 2em; }
.label-1{ font-size: 1.5em; fill: #111; }
.label-2{ font-size: 1em; fill: #444; }
.label-3{ font-size: .9em; fill: #888; }
.label-4{ font-size: .8em; fill: #aaa; }

.link-0{ stroke: #000; stroke-width: 2px}
.link-1{ stroke: #333; stroke-width: 1px}
.link-2, .link-3, .link-4{ stroke: #666; stroke-width: .5px; }
