<!doctype html>
<html>
<head>
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    {% include 'header.html' %}
    <main>
    <div class="container" id="chart">
        <h1>{{name}}</h1>
        <h5>Note: diagram may take a little while to load</h5>
        <p>This is a bubble chart showing all keywords that appear in the articles with their frequencies.<br>
        Keyword extraction is done by Summa, which is an algorithm based on TextRank.</p>
        <p>The more frequently a keyword appears in the articles, the larger size it has.<br>
            You can <b>hover the bubbles</b> to view the full keywords and their frequency or
            <b>click</b> to view all articles related to those keywords.
        </p>
        <div id="bubble"></div>

        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='js/bubble_chart.js') }}"
                charset="utf-8"></script>
        <script>
            filename = '{{ url_for('static', filename='data/keyword_frequency.csv') }}'
            date = (new Date()).getTime()
            filename = filename +  '?' + date
            d3.csv(filename, function(error, data){

                var width = 1000
                var height = 700
                bubbleChart(data, width, height)

            })
        </script>
        <h5>*The keyword lengths are limited by the bubble sizes so some keywords
            are not fully displayed, you may hover to view their complete terms</h5>
    </div>
    </main>
</body>
<!-- Don't remove this please -->
{% include 'footer.html' %}
</html>