<!DOCTYPE html>
<html>
<head>
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
</head>

<style>

.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}

</style>

<body>
    {% include 'header.html' %}
    <div class="container" id="force_graph">
        <script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
        <h5>The word in the centre is the keyword while the outer circle nodes are the
        articles related to that keyword.</h5>
        <p>You can <b>hover</b> the circle nodes to view the article names.</p>
        <p>Click <a href='/bubble'>here</a> to go back up to the main bubble chart.</p>

        <script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>

        <script>
            //remove and create svg
            d3.select("body").select("svg").remove();

            var width = 1100,
                height = 1100

            var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);

            var force = d3.layout.force()
                .gravity(.05)
                .distance(380)
                .charge(-100)
                .size([width, height]);

            var tooltip = d3.select("#force_graph")
                    .append("div")
                    .style("position", "absolute")
                    .style("visibility", "hidden")
                    .style("color", "white")
                    .style("padding", "8px")
                    .style("background-color", "#626D71")
                    .style("border-radius", "6px")
                    .style("text-align", "center")
                    .style("font-family", "Comic Sans MS")
                    .style("width", "400px")
                    .text("");

            date = (new Date()).getTime()
            filename = '{{ url_for('static', filename='data/subgraph_data.json') }}'
            filename = filename +  '?' + date
            console.log(filename)
            d3.json(filename, function(json) {
              force
                  .nodes(json.nodes)
                  .links(json.links)
                  .start();

              var link = svg.selectAll(".link")
                  .data(json.links)
                .enter().append("line")
                  .attr("class", "link")
                .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

              var node = svg.selectAll(".node")
                  .data(json.nodes)
                .enter().append("g")
                  .attr("class", "node")
                  .call(force.drag);

              node.append("circle")
                  .attr("r", function(d, i) { if (i == 0) { return 0} else { return 12}})
                  .style("fill", "darkgray")
                    .on("mouseover", function(d) {
                        tooltip.html(d.name);
                        return tooltip.style("visibility", "visible");
                    })
                    .on("mousemove", function() {
                        return tooltip.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px");
                    })
                    .on("mouseout", function() {
                        return tooltip.style("visibility", "hidden");
                    });

              node.append("text")
                  .attr("text-anchor", "middle")
                  .attr("dx", function(d, i) { if (i == 0) { return 0;} else { return -d.name.length/2-5 }  })
                  .attr("dy", function(d, i) { if (i ==  0) { return 0; } else { return -5; } })
                  .style("fill", "#505050")
                  .style("font-size", function(d, i) { if (i == 0) { return "34px"; } else { return "10px";}})
                  .style("font-family", "Comic Sans MS")
                  .style("stroke", "white")
                  .style("font-weight", "bold")
                  .text(function(d, i) { if (i == 0) {return d.name} else {return d.name.substring(0, 0)}});

              force.on("tick", function() {
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
              });
            });
        </script>
    </div>
</body>
<!-- Don't remove this please -->
{% include 'footer.html' %}
</html>