<!doctype html>
<html>
<head>
    <title>Scopus Visualiser</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body> 
  {% include 'header.html' %}
  <main>
    <div class="container">
  <div>
    <h1 class="center-align">SCOPUSMINER: Visualisations of Academic Papers</h1>
  </div>
<div class="center-align">
  <p>Welcome to SCOPUSMINER! Please upload a data file below.</p>
  <form method=post enctype=multipart/form-data>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type=file name=file>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one csv file">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>        
  </form>

</div>
</main>

{% include 'footer.html' %}
</body>
</html>