<!doctype html>
<html>
<head>
    <title>Fishbone diagram - {{ topic }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fishbone.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% include 'header.html' %}
  <main>
    <div class="diagram-container">
      <div id="fishbone"></div>
    </div>
    <div class="container">
      <h4>{{topic}}</h4>
      <p>Click <a href='/fishbone?topic={{uppertopic}}'>here</a> to go back up a level.</p>
      <p>Below is a list of all documents within this sub-topic:</p>
      <ul class="collection">
        {% for doc in documents %}
        <li class="collection-item">{{ doc }}</li>
        {% endfor %}
      </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/d3.fishbone.js') }}" charset="utf-8"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous"></script>
</main>

{% include 'footer.html' %}
</body>
</html>
