<!doctype html>
<html>
<head>
    <title>Fishbone diagram - {{ topic }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fishbone.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% include 'header.html' %}
  <main>

    <div class="diagram-container">
      <div id="fishbone"></div>
    </div>

    <div class="container">
      <h4>Instructions</h4>
      {% if topic == 'main' %}
      <p>Click on any topic to see the sub groups within it.</p>
      <p>The dropdown below contains all the topics shown in this fishbone, for easier browsing.</p>
      {% else %}
      <p>Click <a href='/fishbone'>here</a> to go back up to the main view.
        Click on the subtopic to see all papers within it.</p>
      <p>The dropdown below contains all the subtopics showin in this fishbone, for easier browsing.</p>
      {% endif%}
      
      <div class='row'>
        <!-- Dropdown stuff! this is the trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown' style='width:600px'>Topics</a>
        <!-- this is the dropdown structure -->
        <ul id='dropdown' class='dropdown-content'></ul>
      </div>
      <p>This is a fishbone visualisation. The main view shows all topics marked in scopus. The subtopic view then shows 
        the sub-topics within a topic,<br> determined through runnning LDA on the abstracts of documents within the topic.
        For each sub-topic, only the top 5 documents contributing to the topic are shown, for clarity.
      </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/d3.fishbone.js') }}" charset="utf-8"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous"></script>
    <script>
      var name = $('#name').val();
      var folder =  $("input[name='algo']:checked").val();
      var fishbone = d3.fishbone();
      filename = '{{ url_for('static', filename='data/fishbone_lda.json') }}'
      // load the data
      d3.select("svg").remove();
      d3.json(filename, function(data){
        // prune data down to the requested data
        var topic = '{{ topic }}'; // get topic we are looking for
        var pruned_data = undefined;
        // if main, we show all the topics
        if (topic == 'main') {
          pruned_data = {"name": "Scopus", children: []}
          data["children"].forEach(node => {
            pruned_data["children"].push({"name": node["name"]});
          });
        } else {
          // find subbranch
          for (var i = 0; i < data["children"].length; i++) {
            if (data["children"][i].name == topic) {
              pruned_data = data["children"][i];
              // grab top 5 documents only for each topic
              for (var j = 0; j < pruned_data["children"].length; j++) {
                if (pruned_data["children"][j]["children"].length > 5) {
                  pruned_data["children"][j]["children"] = pruned_data["children"][j]["children"].slice(0, 5)
                }
              }
              break;
            }
          }
          // if we dont find anything, go back to showing general topics
          if (!pruned_data) {
            window.location.href = '/fishbone'
          }
        }

        // fill out dropdown
        for (var i = 0; i < pruned_data["children"].length; i++) {
          topic_name = pruned_data["children"][i]["name"]
          $('#dropdown').append('<li><a href=/fishbone?topic=' + topic_name.replace(/\s/g,"%20") + '>'
            + topic_name + '</a></li>')
        }
        $('.dropdown-trigger').dropdown();
        
        // some hardcoding of size. Hard to correctly size svg otherwise.
        if (topic == 'main') {
          var svg_width = pruned_data["children"].length * 180
        } else {
          var svg_width = 1400 > pruned_data["children"].length * 300 ? 1400 : pruned_data["children"].length * 300;
        }

        var svg_height = window.document.documentElement.clientHeight - 480;

        // the most reliable way to get the screen size
        var size = (function(){
            return {width: this.clientWidth, height: svg_height};
          }).bind(window.document.documentElement),
        
        svg = d3.select("#fishbone")
          .append("svg")
          // firefox needs a real size
          .attr(size())
          // set the data so the reusable chart can find it
          .datum(pruned_data)
          // set up the default arrowhead
          .call(fishbone.defaultArrow)
          // call the selection modifier
          .call(fishbone);
        // this is the actual `force`: just start it
        fishbone.force().size([svg_width, svg_height]).start();

        $('svg').css('width', svg_width)
        
      });
    </script>
</main>

{% include 'footer.html' %}
</body>
</html>
