<footer class="page-footer cyan">
  <div class="container">
    Made by Andrew, Arjun, Boris, Hamish
  </div>
  <br>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>