<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

<nav class="cyan"x>
    <div class="nav-wrapper">
        <div class="container">
           <a href="/" class="brand-logo">← Scopus Miner</a>
        </div>
    </div>
  </nav>

<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>