<!doctype html>
<html>

<head>
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    {% include 'header.html' %}
    <main>
        <div class="container">

            <h2 id="howtosetupneo4j">How to Setup Neo4J</h2>

            <h4 id="installingneo4jdesktopapp">Installing Neo4j Desktop App</h4>

            <p><a class="white-text teal lighten-2 btn-flat" href="https://neo4j.com/download/">Install from here</a></p>

            <h4 id="setup">Setup</h4>

            <ol>
                <li>
                    Create a new project
                </li>

                <li>
                    Under Project, click on "New Graph"
                </li>

                <li>
                    Click on "Create Local Graph" and follow the setup<
                </li>

                <li>
                    Click on Manage > Plugins and install APOC
                </li>

                <li>
                    Then, in settings, at the bottom paste this:<br>

                    <div style="overflow-x:scroll">
                        <pre style="margin-bottom:0px"><code>dbms.security.procedures.unrestricted=apoc.export.*,apoc.import.*<</code>>
                        apoc.export.file.enabled=true
                        apoc.import.file.enabled=true
                        </code></pre>
                    </div>
                </li>
                <li>
                    Download the <code>complete-graph.graphml</code> file somewhere
                </li>
            </ol>

            <h4 id="browserapp">Browser App</h4>

            <ol>
                <li>
                    Go back to the project window, and click "start" on the graph
                </li>

                <li>
                    Click "Open Browser"
                </li>

                <li>
                    in the neo4j command prompt at the top of the window paste:
                    <div style="overflow-x:scroll">
                        <pre style="margin-bottom:0px"><code>CALL apoc.import.graphml('/PATH/TO/complete-graph.graphml', {batchSize: 10000, storeNodeIds: true, useTypes: true, readLabels: true, nodesOfRelationships: true})
                        </code></pre>
                    </div>
                    

                    Remember to change the <strong>absolute</strong> path of the file (for some reason relative
                        paths or paths involving <code>~</code> do not seem to work).
                </li>

                <li>
                    Check to see if it worked!
                </li>
            </ol>

            <a href="https://medium.com/@niazangels/export-and-import-your-neo4j-graph-easily-with-apoc-4ea614f7cbdf">this
                    is the original tutorial</a>

            <p>(command to export)</p>

            <div style="overflow-x:scroll">
                <pre style="margin-bottom:0px"><code>CALL apoc.export.graphml.all('/tmp/full-graph.graphml', {batchSize: 10000, storeNodeIds: true, useTypes: true, readLabels: true, nodesOfRelationships: true})
                </code></pre>
            </div>
            <p><p>


            <h4 id="download">Download Database</h4>

            <p><a class="white-text teal lighten-3 btn-flat" href="/neo4j-download">Download the Neo4J Scopus Database here</a></p>

            <div style="margin-bottom:30px">

        </div>

        <h4 id="browserapp">Cypher Examples</h4>
        <div style="overflow-x:scroll">
          <p> Simply paste any of these commands into the browser application terminal. If you click on the star to the right of the command, the query will be saved as a favourite.<p>

            <pre style="margin-bottom:0px"><code>

// Papers with most Authors (top 100)
MATCH (paper:paper)
WITH paper, SIZE(()-[:WROTE]->(paper)) as authorCnt
ORDER BY authorCnt DESC LIMIT 100
MATCH (author)-[:WROTE]->(paper)
RETURN paper, author

// Authors with most papers (top 20)
MATCH (author:author)
WITH author, SIZE((author)-[:WROTE]->()) as papCount
ORDER BY papCount DESC LIMIT 20
MATCH (author)-[:WROTE]->(paper)
RETURN paper, author, papCount

// Top 20 key words
MATCH (key_word:key_word)
WITH key_word, SIZE(()-[:CONTAINS]->(key_word)) as keyCount
ORDER BY keyCount DESC LIMIT 20
MATCH (paper)-[:CONTAINS]->(key_word)
RETURN distinct key_word, keyCount

// Journals with most publications (top 10)
MATCH (journal:journal)
WITH journal, SIZE((journal)-[:PUBLISHED]->()) as papCount
ORDER BY papCount DESC LIMIT 20
MATCH (journal)-[:PUBLISHED]->(paper)
RETURN paper, journal, papCount

// Top 20 Scopus Subjects
MATCH (scopus_subject:scopus_subject)
WITH scopus_subject, SIZE(()-[:ABOUT]->(scopus_subject)) as subCount
ORDER BY subCount DESC LIMIT 20
MATCH (paper)-[:ABOUT]->(scopus_subject)
RETURN distinct scopus_subject, subCount

// Papers with most citations (top 10)
MATCH (paper:paper)
WITH paper, SIZE(()-[:REFERENCES]->(paper)) as refCnt
ORDER BY refCnt DESC LIMIT 10
MATCH (referencing_paper)-[:REFERENCES]->(paper)
RETURN paper, referencing_paper, SIZE(()-[:REFERENCES]->(paper)) as reference_count

// links between clusters
MATCH p=(a)-[:CLUSTERED_IN]-(n)-[:CLUSTERED_IN]-(b)
RETURN p,a,n,b
ORDER BY a
LIMIT 200




            </code></pre>
        </div>
        <p><p>

    </main>

    <!-- Don't remove this please -->
    {% include 'footer.html' %}

</body>

</html>
