<!doctype html>
<html>
<head>
    <title>Tree diagram</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% include 'header.html' %}
  <main>

    <div class="diagram-container">
      <div id="tree"></div>
    </div>

    <div class="container">
      <p>This uses the same dataset as fishbone. Click on topics to view subtopics, 
          and click on subtopics to view the papers found in that subtopic. 
          Click on expanded nodes to unexpand them.</p>
    </div>

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.js"
      integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
      crossorigin="anonymous"></script>
    <script>
      filename = '{{ url_for('static', filename='data/fishbone_lda.json') }}'
 
      // set the dimensions and margins of the diagram
      var margin = {top: 20, right: 90, bottom: 30, left: 90},
        width = 1700 - margin.left - margin.right,
        height = 200 - margin.top - margin.bottom;
      
        var dy = width/6;
        var dx = height/6;
      
      // load the external data
      d3.json(filename, function(error, data) {
        if (error) throw error;
      
        const diagonal = d3.linkHorizontal().x(d => d.y).y(d => d.x);
        const tree = d3.tree().nodeSize([dx, dy]);
        const root = d3.hierarchy(data);
      
        const svg = d3.select("#tree").append("svg")
            .attr("width", width)
            .attr("height", dy)
            .attr("viewBox", [-margin.left, -margin.top, width, dy])
            .style("font", "10px sans-serif")
            .style("user-select", "none");
      
        const gLink = svg.append("g")
            .attr("fill", "none")
            .attr("stroke", "#555")
            .attr("stroke-opacity", 0.4)
            .attr("stroke-width", 1.5);
      
        const gNode = svg.append("g")
            .attr("cursor", "pointer");
      
        function update(source) {
          const duration = d3.event && d3.event.altKey ? 2500 : 250;
          const nodes = root.descendants().reverse();
          const links = root.links();
      
          // Compute the new tree layout.
          tree(root);
      
          let left = root;
          let right = root;
          root.eachBefore(node => {
            if (node.x < left.x) left = node;
            if (node.x > right.x) right = node;
          });
      
          const height = right.x - left.x + margin.top + margin.bottom;
      
          const transition = svg.transition()
              .duration(duration)
              .attr("height", height)
              .attr("viewBox", [-margin.left, left.x - margin.top, width, height])
              .tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));
      
          // Update the nodes…
          const node = gNode.selectAll("g")
            .data(nodes, d => d.id);
      
          // Enter any new nodes at the parent's previous position.
          const nodeEnter = node.enter().append("g")
              .attr("transform", d => `translate(${source.y0},${source.x0})`)
              .attr("fill-opacity", 0)
              .attr("stroke-opacity", 0)
              .on("click", d => {
                d.children = d.children ? null : d._children;
                update(d);
              });
      
          nodeEnter.append("circle")
              .attr("r", 2.5)
              .attr("fill", d => d._children ? "#555" : "#999");
      
          nodeEnter.append("text")
              .attr("dy", "0.31em")
              .attr("x", d => d._children ? -6 : 6)
              .attr("text-anchor", d => d._children ? "end" : "start")
              .text(d => d.data.name)
            .clone(true).lower()
              .attr("stroke-linejoin", "round")
              .attr("stroke-width", 3)
              .attr("stroke", "white");
      
          // Transition nodes to their new position.
          const nodeUpdate = node.merge(nodeEnter).transition(transition)
              .attr("transform", d => `translate(${d.y},${d.x})`)
              .attr("fill-opacity", 1)
              .attr("stroke-opacity", 1);
      
          // Transition exiting nodes to the parent's new position.
          const nodeExit = node.exit().transition(transition).remove()
              .attr("transform", d => `translate(${source.y},${source.x})`)
              .attr("fill-opacity", 0)
              .attr("stroke-opacity", 0);
      
          // Update the links…
          const link = gLink.selectAll("path")
            .data(links, d => d.target.id);
      
          // Enter any new links at the parent's previous position.
          const linkEnter = link.enter().append("path")
              .attr("d", d => {
                const o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
              });
      
          // Transition links to their new position.
          link.merge(linkEnter).transition(transition)
              .attr("d", diagonal);
      
          // Transition exiting nodes to the parent's new position.
          link.exit().transition(transition).remove()
              .attr("d", d => {
                const o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
              });
      
          // Stash the old positions for transition.
          root.eachBefore(d => {
            d.x0 = d.x;
            d.y0 = d.y;
          });
        }
      
        let id = 0;
        root.x0 = dy / 2;
        root.y0 = 0;
        root.eachAfter(d => {
          d.id = ++id;
          d._children = d.children;
          if (d.depth) d.children = null;
        });
      
        update(root);
      
        return svg.node();
      });
    </script>
</main>

{% include 'footer.html' %}
</body>
</html>
