<!doctype html>
<html>
<head>
  <title>{{ name }}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {% include 'header.html' %}
  <main>
  <div class="container">

    <!-- This is where your html should be inserted, so style can remain consistent. Consult hamish for help
    if you need help with templating. Remain inside the container div if possible.
    Heres a basic tutorial on the templates: http://flask.pocoo.org/docs/1.0/tutorial/templates/ -->
    <h1>{{name}}</h1>  
    <p>Visualisation not yet integrated - follow provided instructions to view</p>
  </div>
  </main>
  <!-- Don't remove this please -->
  {% include 'footer.html' %}
</body>
</html>
